body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.hero-section {
  width: 100%;
  background: url(../assets/images/SliderImages/Image\ 1.png) no-repeat;
  overflow: hidden;
  bottom: 0;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  padding-bottom: 30px;
}

nav {
  margin-top: 40px;
  padding: 20px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

nav ul li {
  margin-left: 10px;
  line-height: 2em;
  vertical-align: middle;
}
nav ul .nav-item3 {
  margin-top: -30px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 6vw;
  color: #fff;
}
.hero-text .p1 {
  font-size: 45px;
  text-transform: uppercase;
}
.hero-text .p2 {
  font-size: 20px;
}
.hero-text form input {
  padding: 10px;
  font-size: 17px;
  border: none;
}
.hero-text form button {
  padding: 10px 10px;
  margin-left: -4px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.hero-text form button:hover {
  background-color: lightslategray;
}
.btns {
  margin-top: 30px;
}
.btns button {
  padding: 10px 10px;
  border-radius: 2px;
  border: 0;
  margin-right: 15px;
  cursor: pointer;
}
.btn1 {
  background-color: rgb(0, 217, 255);
  color: #fff;
}
.btn2 {
  background-color: #ddd;
  color: #333;
}
.btn3 {
  color: #fff;
  background-color: dimgray;
}
@media only screen and (min-width: 376px) {
  nav ul li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 655px) {
  nav ul li a {
    display: none;
  }
  nav ul li:last-child {
    display: block;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 375px) {
  nav ul li {
    align-self: end;
    margin-top: -30px;
    margin-left: 30px;
  }

  nav ul li a {
    display: none;
  }
  nav ul .nav-item3 {
    display: none;
  }
  .hero-text {
    color: #fff;
  }
  .hero-text .p1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .hero-text .p2 {
    font-size: 20px;
  }
  .hero-text form input {
    padding: 10px;
    font-size: 17px;
    border: none;
  }
  .hero-text form button {
    margin-left: 1px;
    padding: 10px 10px;
    background: #ddd;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }
  .hero-text form button:hover {
    background-color: lightslategray;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}
