*,*::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
  box-sizing: border-box;
}


/* Contact-section css */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 400;
  justify-content: space-around;
}

.form {
  background-color: white;
  width: 48%;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.image {
  background-color: white;
  width: 48%;
}

input[type=submit] {
  background-color: rgb(37, 236, 236);
  display: inline-block;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 4rem;

}

input[type=text] {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
}

#contactus {
  font-size: large;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#mails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#fullname {
  width: 100%;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
  margin-bottom: 20px;
}

#phone,
#address {
  width: 49%;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
}

#hotelimage {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border: none;
  margin-top: 20px;
}

#message {
  width: 99.2%;
  height: 200px;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
  border: none;
}

#logo {
  font-size: 50px;
  text-transform: capitalize;
  color: grey;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 0px;


}

#submit {
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .flex-container {
      flex-wrap: wrap-reverse;
      width: 100%;
  }

  .form {
      width: 100%;
      margin-top: 2px;
  }

  .image {
      width: 100%;
  }

  #logo {
      font-size: 30px;
      font-weight: bold;
  }

  .logo {
      height: 40px;
  }
}

@media only screen and (max-width: 350px) {

  #phone,
  #address {
      width: 100%;
      box-shadow: 2px 2px 2px rgb(223, 219, 219);
  }

  #address {
      margin-bottom: 20px;
  }

  #mails {
      flex-wrap: wrap;
  }

  #logo {
      font-size: 25px;
      font-weight: bold;
  }

  .logo {
      height: 30px;
  }
}
/* End Contact-section */




/*Facility -Section css */
.container{
  width: 80%;
  margin: 0 auto;
}


.showcase{
  padding: 1rem 0;
  position: relative;
}
.showcase img{
  width: 3rem;
  position: absolute;
  top: 1.4rem;
}
.showcase h3{
  font-size: 3rem;
  color: #353535;
  padding-left: 4rem;

}
.facility__gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.gallery__card{
  position: relative;
  height: 25rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0,0.8);
  overflow: hidden;
  transition: transform 500ms;
}

.gallery__card:hover{
  transform: translateY(2px) scale(.9);
}
.gallery__image{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: moveInTop 500ms ease-out 250ms;
}
.gallery__body{
  background: rgb(0, 217, 255);
  color: #f1f1f1;
  padding: 1rem;
  width: 70%;
  position: absolute;
  top: 70%;
  transition: all 500ms;
  box-shadow: 3px 3px 6px rgba(0, 0, 0,0.4);
  animation: moveInLeft 500ms ease-out;
}

.gallery__card:hover .gallery__body{
  transform: translateY(2px);
}

@media (max-width: 570px) {
  .facility{
    margin: 0;
    width: 100%;
  }
  .showcase{
    margin-left: 7rem;
  }


}
@media (min-width: 809px) {
  .gallery__body{
    width: 50%;
  }

}

@keyframes moveInLeft {
  from{
    transform: translate(-1000px);
  }
}


/* End Facilities-section  */



/*Home - Section */
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.hero-section {
  width: 100%;
  background: url(../assets/images/SliderImages/Image2.png);
  background-repeat: no-repeat;
  overflow: hidden;
  bottom: 0;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  height: 100%;
  padding-bottom: 10rem;
  backface-visibility: hidden;
  animation: sliderBack 10000ms ease-in-out infinite 200ms;
}

@keyframes sliderBack {
  0% {
    background:  url(../assets/images/SliderImages/Image2.png);
    
  }
  50% {
    background: url(../assets/images/SliderImages/Image4.png);
    background-color: rgba(0, 0, 0,0.4);
    background-blend-mode: darken;
  }
  75% {
    background: url(../assets/images/SliderImages/Image3.png);
    background-color: rgba(0, 0, 0,0.4);
    background-blend-mode: darken;
  }
  100% {
    background: url(../assets/images/SliderImages/Image1.png);
  }
}

.bg-teal{
  background-color: rgb(0, 217, 255);
}

.hum-nav{
  text-align: center;
  overflow: hidden;
}

.hide{
  display: none;
}

.show{
  display: block;
}


.hum-nav li{
  margin-right: 3rem;
  transition: 200ms;
  animation: moveUp 500ms;
}

@keyframes moveUp{
  from{
    transform: translateY(-20rem);
  }
}
.hum-nav li a{
  color: white;
}



nav {
  margin-top: 40px;
  padding: 20px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

nav ul:hover{
  color: rgb(0, 217, 255);
}

nav ul li {
  margin-left: 10px;
  line-height: 2em;
  vertical-align: middle;
}
nav ul .nav-item3 {
  margin-top: -30px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 6vw;
  color: #fff;
}
.hero-text .p1 {
  font-size: 45px;
  text-transform: uppercase;
}
.hero-text .p2 {
  font-size: 20px;
}
.hero-text form input {
  padding: 10px;
  font-size: 17px;
  border: none;
}
.hero-text form button {
  padding: 10px 10px;
  margin-left: -4px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.hero-text form button:hover {
  background-color: lightslategray;
}
.btns {
  margin-top: 30px;
}
.btns button {
  padding: 10px 10px;
  border-radius: 2px;
  border: 0;
  margin-right: 15px;
  cursor: pointer;
}
.btn1 {
  background-color: rgb(0, 217, 255);
  color: #fff;
}
.btn2 {
  background-color: #ddd;
  color: #333;
}
.btn3 {
  color: #fff;
  background-color: dimgray;
}
@media only screen and (min-width: 376px) {
  nav ul li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 655px) {
  nav ul li a {
    display: none;
  }
  nav ul li:last-child {
    display: block;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 375px) {
  nav ul li {
    align-self: end;
    margin-top: -30px;
    margin-left: 30px;
  }

  nav ul li a {
    display: none;
  }
  nav ul .nav-item3 {
    display: none;
  }
  .hero-text {
    color: #fff;
  }
  .hero-text .p1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .hero-text .p2 {
    font-size: 20px;
  }
  .hero-text form input {
    padding: 10px;
    font-size: 17px;
    border: none;
  }
  .hero-text form button {
    margin-left: 1px;
    padding: 10px 10px;
    background: #ddd;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }
  .hero-text form button:hover {
    background-color: lightslategray;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}



/*Footer-section */
.footer{
  background-color: #272626;
  color: #fff;
  padding: 5rem 0;
  font-size: .9rem;
}
.row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
} 

.col-4{
  width: calc(40% - 2rem);
}
.col-2{
  width: calc((60% / 2) - 2rem);
}

.mb-2{
  margin-bottom: 1.5rem;
}
.mt-3{
  margin-top: 2rem;
}

.footer__logo{
  width: 30%;
}

.footer__text, .footer__support{
  line-height: 2rem;
}
.footer__hotel-name{
  color: rgb(0, 217, 255);
  font-weight: bold;
}
.social-handles{
  justify-content: start;
}

.lg-hide{
  display: none;
}


.header nav{
  margin: 0;
  padding: 3rem 0 ;
}





/* INdex -section */
.search{
  margin: 0 2rem;
  width: 50%;
}

.search__input{
  background-color: #f7f7f7f7;
  padding: 0 4rem;
  width: 70%;
}
.flex{
  display: flex;
  padding: 2rem 0;
}
.group-buttons{
  padding: 0;
}
.just-btn{
  /* display: inline-block; */
  padding: .65rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 250ms;
}

.just-btn:hover{
  transform: scale(1.1) translateY(.5rem);
  cursor: pointer;
}

.bg-primary{
  background-color: rgb(0, 217, 255);
  color: white;
}
.bg-dark{
  background-color: #272626;
  color: #fff;
}
.bg-secondary{
  background-color: #f7f7f7f7;
  color: #353535;
}
.bg-dark__deep{
  background-color: #7a7878;
  color: #fff;
}
.rooms__gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.rooms__body{
color: white;
  padding: 1rem;
  position: absolute;
  top: 70%;
  width: 100%;

}
.rooms__body::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 217, 255, 0.205);
}
.rooms__body::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(25, 28, 29, 0.329);
  z-index: -1;
}
.rooms__title{
  font-size: 1rem;
}
.rooms__title2{
  color: white;
  font-size: 1rem;
  padding-left: .5rem;
}
.rooms__text{
  font-size: .7rem;
}
.rooms__button{
  padding: 0 1rem;
  border: none;
  color: white;
  background-color: rgb(0, 217, 255);
  transition: background-color 250ms;
}
.rooms__button2{
  padding: 1rem 2rem;
  border: none;
  color: white;
  background-color: rgb(0, 217, 255);
  transition: background-color 250ms;
}
.rooms__button:hover,
.rooms__button2:hover{
  cursor: pointer;
  background-color: rgba(0, 217, 255, 0.767);
}
.col{
  width: 50%;
}

.center {
  width: 100%;
  text-align: center;
}


@media (max-width: 690px ){
  .row, .flex {
    flex-flow: column;
    /* align-items: flex-start; */
  }
  .rooms__body > .row{
    flex-flow: row;
  }
  .row > .rooms__title2{
    display: none;
  }
  .row > .rooms__button{
    padding: 1rem 2rem;
    margin: auto;
  }
  .xm-hide{
    display: none;
  }
  .lg-hide{
    display: block;
  }
  .footer__label{
    display: none;
  }
  .footer__logo{
    width: 50%;
  }
  .col-4, .col-2{
    width: 100%;
    text-align: center;
  }
  .social-handles{
    justify-content: center;
    flex-flow: row;
  }
  
  .search {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .search__input{
    width: 100%;
    margin-bottom: 1rem;
  }
  .group-buttons{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .just-btn{
    width: 50%;
    margin-bottom: 1rem;
  }
  .just-btn:not(:first-child){
    margin-bottom: 1rem;
  }
}
